* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 101%;
  text-rendering: optimizeLegibility;
}
body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background: #fff;
  color: #444;
}
a {
  color: #222;
  border-bottom: 1px solid #CC0000;
  text-decoration: none;
    &.close, 
    &.open  {
      color: #fff;
      border: none;
    }
}
a:hover {
  color: #CC0000;
}
img {
  outline: 0;
  border: 0;
  max-width: 98%;
}
h1 {
  font-size: 30px;
  line-height: 40px;
  color: #CC0000;
  margin-bottom: 20px;
  // border-top: 2px solid #222;
  padding-top: 20px;
}
h2 {
  font-size: 24px;
  margin-bottom: 22px;
  color: #222;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
h3 {
  font-weight: normal;
  font-size: 20px;
  color: #222;
  margin-bottom: 21px;
}
h4 {
  color: #222;
  font-weight: normal;
}
p {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 20px;
}
.content ul, 
.content ol {
  margin: 0 0 22px 17px;
}
.footnote {
  color: #666; 
  font-size: 1.1em;
  font-style: italic; 
  font-size: 1.1em;
}
/* Blog */
.title { 
  font-size: 1.3em;
  font-weight: bold; 
  font-style: italic; 
  margin: 1em 0;
}
.media { 
  padding: 1em 0; 
}
.post_list { 
  list-style: none; 
}
.post_list li { 
  padding: 1em 0; 
  border-bottom: 1px dashed #666;
}
/* Code Formatting */
code {
  background: #eee;
  padding: 0 5px;
}
pre {
  font-family: "Monaco", "Courier", monospace;
  position: relative;
  overflow: auto;
  background: #f9f9f9;
  -webkit-box-shadow: rgba(0,0,0, .05) 0px 2px 10px inset;
  -moz-box-shadow: rgba(0,0,0, .05) 0px 2px 10px inset;
  -o-box-shadow: rgba(0,0,0, .05) 0px 2px 10px inset;
  box-shadow: rgba(0,0,0, .05) 0px 2px 10px inset;
  padding: 20px;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 20px;
}
pre.highlight {
  white-space: nowrap;
}
pre code {
  font-family: "Monaco", "Courier", monospace;
  background: none;
  padding: 0;
}
