/* Responsive styles */
h1 {
	border-top: none;
}
.menu {
	display: block;
	background: #222; 
	padding: 0 1em;
	margin-bottom: 4px;
}
.menu a {
	color: #fff;
}
.menu > ul {
	border-top: none;
	border-bottom: none;
	margin: 0;
	padding: 10px 10px 15px 10px;
}
.menu li {
	list-style: none;
}
.menu li a {
	border-bottom: 1px solid #333;
	display: block;
	padding: 5px;
}
.menu li a.active {
	color: #CC0000;
	background: #1b1b1b;
}
.menu ul ul {
}
.menu ul ul li a {
	padding-left: 20px;
	font-size: 14px;
	color: #999;
}
.menu .madewith {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #555;
	border-bottom: 0;
	font-size: 14px;
}
.menu .madewith:hover {
	color: #CC0000;
}
.content { 
	padding: 1em; 
	margin: 0 auto;
}
ul.rslides { 
	margin: 0 4px;
}
/* Desktop Styles */
@media (min-width: 940px) {
	.menu {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 270px;
		bottom: 0;
		background: #222;
		color: #fff;
		margin-bottom: 0;
	}
	.menu a {
		color: #fff;
	}
	.menu > ul {
		/* border-top: 2px solid #333;
		border-bottom: 1px solid #333; */
		margin: 50px 30px 30px 30px;
	}
	.menu li {
		list-style: none;
	}
	.menu li a {
		border-bottom: 1px solid #333;
		display: block;
		padding: 5px;
	}
	.menu li a.active {
		color: #CC0000;
		background: #1b1b1b;
	}
	.menu ul ul {
	}
	.menu ul ul li a {
		padding-left: 20px;
		font-size: 14px;
		color: #999;
	}
	.menu .madewith {
		position: absolute;
		bottom: 30px;
		left: 30px;
		color: #555;
		border-bottom: 0;
		font-size: 14px;
	}
	.menu .madewith:hover {
		color: #CC0000;
	}
	.content {
  		width: 600px;
  		padding: 50px 50px 100px 300px;
	}
	ul.rslides { 
		margin: 0 6px;
	}
}