*{margin:0px;padding:0px;}
html{height:101%;text-rendering:optimizeLegibility;}
body{font-family:"PT Sans",Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;background:#fff;color:#444;}
a{color:#222;border-bottom:1px solid #CC0000;text-decoration:none;}a.close,a.open{color:#fff;border:none;}
a:hover{color:#CC0000;}
img{outline:0;border:0;max-width:98%;}
h1{font-size:30px;line-height:40px;color:#CC0000;margin-bottom:20px;padding-top:20px;}
h2{font-size:24px;margin-bottom:22px;color:#222;border-bottom:1px solid #ddd;padding-bottom:5px;}
h3{font-weight:normal;font-size:20px;color:#222;margin-bottom:21px;}
h4{color:#222;font-weight:normal;}
p{font-size:1.4em;line-height:1.6em;margin-bottom:20px;}
.content ul,.content ol{margin:0 0 22px 17px;}
.footnote{color:#666;font-style:italic;font-size:1.1em;}
.title{font-size:1.3em;font-weight:bold;font-style:italic;margin:1em 0;}
.media{padding:1em 0;}
.post_list{list-style:none;}
.post_list li{padding:1em 0;border-bottom:1px dashed #666;}
code{background:#eee;padding:0 5px;}
pre{font-family:"Monaco","Courier",monospace;position:relative;overflow:auto;background:#f9f9f9;-webkit-box-shadow:rgba(0, 0, 0, 0.05) 0px 2px 10px inset;-moz-box-shadow:rgba(0, 0, 0, 0.05) 0px 2px 10px inset;-o-box-shadow:rgba(0, 0, 0, 0.05) 0px 2px 10px inset;box-shadow:rgba(0, 0, 0, 0.05) 0px 2px 10px inset;padding:20px;font-size:13px;line-height:22px;margin-bottom:20px;}
pre.highlight{white-space:nowrap;}
pre code{font-family:"Monaco","Courier",monospace;background:none;padding:0;}
h1{border-top:none;}
.menu{display:block;background:#222;padding:0 1em;margin-bottom:4px;}
.menu a{color:#fff;}
.menu>ul{border-top:none;border-bottom:none;margin:0;padding:10px 10px 15px 10px;}
.menu li{list-style:none;}
.menu li a{border-bottom:1px solid #333;display:block;padding:5px;}
.menu li a.active{color:#CC0000;background:#1b1b1b;}
.menu ul ul li a{padding-left:20px;font-size:14px;color:#999;}
.menu .madewith{position:absolute;bottom:30px;left:30px;color:#555;border-bottom:0;font-size:14px;}
.menu .madewith:hover{color:#CC0000;}
.content{padding:1em;margin:0 auto;}
ul.rslides{margin:0 4px;}
@media (min-width:940px){.menu{display:block;position:fixed;top:0;left:0;width:270px;bottom:0;background:#222;color:#fff;margin-bottom:0;} .menu a{color:#fff;} .menu>ul{margin:50px 30px 30px 30px;} .menu li{list-style:none;} .menu li a{border-bottom:1px solid #333;display:block;padding:5px;} .menu li a.active{color:#CC0000;background:#1b1b1b;} .menu ul ul li a{padding-left:20px;font-size:14px;color:#999;} .menu .madewith{position:absolute;bottom:30px;left:30px;color:#555;border-bottom:0;font-size:14px;} .menu .madewith:hover{color:#CC0000;} .content{width:600px;padding:50px 50px 100px 300px;} ul.rslides{margin:0 6px;}}.rslides{position:relative;list-style:none;overflow:hidden;width:100%;padding:0;margin:0 auto;}
.rslides li{position:absolute;display:none;width:100%;left:0;top:0;}
.rslides li:first-child{position:relative;display:block;float:left;}
.rslides img{display:block;height:auto;float:left;width:100%;border:0;}
.rslides_container{margin-bottom:50px;position:relative;float:left;width:100%;}
.centered-btns_nav{position:absolute;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);top:50%;left:0;opacity:0.7;text-indent:-9999px;overflow:hidden;text-decoration:none;height:61px;width:38px;background:transparent url("../images/nav.gif") no-repeat left top;margin-top:-45px;}
.centered-btns_nav:active{opacity:1.0;}
.centered-btns_nav.next{left:auto;background-position:right top;right:0;}
.transparent-btns_nav{position:absolute;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);top:0;left:0;display:block;background:#fff;opacity:0;filter:alpha(opacity=1);width:48%;text-indent:-9999px;overflow:hidden;height:91%;}
.transparent-btns_nav.next{left:auto;right:0;}
.large-btns_nav{position:absolute;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);opacity:0.6;text-indent:-9999px;overflow:hidden;top:0;bottom:0;left:0;background:#000000 url("../images/nav.gif") no-repeat left 50%;width:38px;}
.large-btns_nav:active{opacity:1.0;}
.large-btns_nav.next{left:auto;background-position:right 50%;right:0;}
.centered-btns_nav:focus,.transparent-btns_nav:focus,.large-btns_nav:focus{outline:none;}
.centered-btns_tabs,.transparent-btns_tabs,.large-btns_tabs{margin-top:10px;text-align:center;}
.centered-btns_tabs li,.transparent-btns_tabs li,.large-btns_tabs li{display:inline;float:none;_float:left;*float:left;margin-right:5px;}
.centered-btns_tabs a,.transparent-btns_tabs a,.large-btns_tabs a{text-indent:-9999px;overflow:hidden;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:#ccc;background:rgba(0, 0, 0, 0.2);display:inline-block;_display:block;*display:block;-webkit-box-shadow:inset 0 0 2px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow:inset 0 0 2px 0 rgba(0, 0, 0, 0.3);box-shadow:inset 0 0 2px 0 rgba(0, 0, 0, 0.3);width:9px;height:9px;}
.centered-btns_here a,.transparent-btns_here a,.large-btns_here a{background:#222;background:rgba(0, 0, 0, 0.8);}
.centered-btns_nav,.centered-btns_tabs a,.transparent-btns_tabs a,.large-btns_tabs a{border:none;}
